@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}

img {
  object-fit: cover;
}

.banner::after,
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner::after {
  background: linear-gradient(
    90deg,
    #000,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(32, 33, 37, 0) 60%,
    rgba(32, 33, 37, 0) 80%,
    #000
  );
}

.banner::before {
  background: linear-gradient(0deg, #000, rgba(32, 33, 37, 0) 50%, #000);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #121315;
  border-radius: 6px !important;
  width: 40px !important;
  height: 40px !important;
  top: auto !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: #fff !important;
}

.swiper-button-next {
  bottom: 16px !important;
  right: 16px !important;
}

.swiper-button-prev {
  right: 16px !important;
  left: auto !important;
  bottom: 66px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #ff4500 !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ef4444;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ef4444;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.is-sticky {
  background-color: #333;
}

.opacity-animation {
  animation: fadeIn ease-in-out 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.skeleton {
  animation: skeleton 1s linear infinite alternate;
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
