@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202125;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

img {
  object-fit: cover;
}

.banners {
  position: relative;
}

.banner::after,
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner::after {
  background: linear-gradient(
    90deg,
    #202125,
    rgba(32, 33, 37, 0.6) 40%,
    rgba(32, 33, 37, 0) 60%,
    rgba(32, 33, 37, 0) 80%,
    #202125
  );
}

.banner::before {
  background: linear-gradient(0deg, #202125, rgba(32, 33, 37, 0) 50%, #202125);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #121315;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  top: auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.swiper-pagination-bullet {
  background: #fff;
}

.swiper-button-next {
  bottom: 16px;
  right: 16px;
}

.swiper-button-prev {
  right: 16px;
  left: auto;
  bottom: 66px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #cae962;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.is-sticky {
  background-color: #202125e5;
}
